.topnav {
    overflow: hidden;
    background-color: #04AA6D;
    color: white;
    margin-bottom: 2%;
  }

#results {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 1%;
  }
  
  #results td, #results th {
    border: 1px solid #0d0c0c;
    padding: 8px;
  }
  
  #results tr:nth-child(even){background-color: #f2f2f2;}
  
  #results tr:hover {background-color: #ddd;}
  
  #results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ddd;
    color: white;
  }
input[type=text]{
width: 75%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
display: block;
}
input[type=text], select{
  width: 300px;;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  }
input[type=submit] {
    width: 300px;
    background-color: #046e08;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
  }
.form1{
  float: left;
}
.form2{
  float:right;
}