<!DOCTYPE html>
<html>
<head>
    <title>Port Statuses</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="topnav">
        <h1>Port Statuses</h1>
    </div>
        <table id="results">
            <tr>
                <th>Port</th>
                <th>Status</th>
            </tr>
            {% for port, status in statuses.items() %}
            <tr>
                <td>{{ port }}</td>
                <td>{{ status }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <form method="POST">
            <label class="center" for="port">Enter port:</label>
            <input type="text" id="port" placeholder="GigabitEthernet1/0/52" name="port" required><br><br>
            <input type="submit" value="Turn">
        </form>
</body>
</html>