<!DOCTYPE html>
<html>
<head>
    <title>Port Statuses</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>
        <h1 class="text-blue-600">Port Statuses</h1>
        <table>
            <tr>
                <th>Port</th>
                <th>Status</th>
            </tr>
            {% for port, status in statuses.items() %}
            <tr>
                <td>{{ port }}</td>
                <td>{{ status }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <form method="POST">
            <label for="port">Enter port number to turn on:</label>
            <input type="text" id="port" name="port" required><br><br>
            <input type="submit" value="Turn">
        </form>
</body>
</html>