<!DOCTYPE html>
<html>
<head>
    <title>Switch Port Statuses</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="topnav">
        <h1>Switch Port Statuses</h1>
        <form class="form1" method="POST">
            <label for="country">Please select a switch</label>
            <select name="switch" id="switch">
                {% for switch in switch_options %}
                <option value="{{ switch }}">{{ switch }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Connect">
        </form>
        <form class="form2" method="POST">
            <label for="port">Enter port:</label>
            <input type="text" id="port" placeholder="GigabitEthernet1/0/52" name="port" required><br><br>
            <input type="submit" value="Turn">
        </form>
    </div>
        {% if statuses %}
        <table id="results">
            <tr>
                <th>Port</th>
                <th>Status</th>
            </tr>
                {% for port, status in statuses.items() %}
                <tr>
                    <td>{{ port }}</td>
                    <td>{{ status }}</td>
                </tr>
                {% endfor %}
        </table>
        {% endif %}
</body>
</html>